
.container {
  position: fixed;
  bottom: 5%;
  right: 20px;
  transform: translateX(-20%);
  z-index: 100;
}

.toggleButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.chatbotIframe {
  border-radius: 15px; 
  overflow: hidden; 
}

.show {
  display: block; /* Show when toggled */
}

@media screen and (max-width: 768px) {
  
  .container {
    bottom: 5%;
    right: 20px;
    transform: translateX(0%);
    z-index: 100;
  }

}